# YouTube Sentiment Analysis

In [107]:
from googleapiclient.discovery import build
import json
import requests
import time
import pandas as pd
import re
import numpy as np

### Supressing all warnings

In [108]:
import warnings
warnings.filterwarnings('ignore')

## Taking input and Splitting the video Id

In [109]:
#Test url with emoji's https://www.youtube.com/watch?v=las-iT6Vp6g
#Test url with links https://www.youtube.com/watch?v=Ou3v8-ngN6Y
#Test url with punctuations https://www.youtube.com/watch?v=tktKJWdLv10
#Test with most comments https://www.youtube.com/watch?v=gdZLi9oWNZg
url_input = "https://www.youtube.com/watch?v=rWcXunmleMk"
video_id_split =url_input.split('=')
video_id=video_id_split[1]

## Total number of comments

#### *Quota impact: A call to this method has a quota cost of 1 unit.*
#### *1 call returns 20 comments* 
#### *Daily quota limit = 10,000 unit (Daily quotas reset at midnight Pacific Time (PT) = 12.45 PM NPT)* 
#### *Total number of comments that can be retrived in a day ~ 10,000 * 20 = 200,000* 
#### *Approximately < 195,000 comment's can be retrived in a day*

In [110]:
api_key = 'AIzaSyAW6wiLfEW4sK1KBZ71Ddhfml9JjXbNie8'
url = 'https://www.googleapis.com/youtube/v3/videos?id='+video_id+'&key='+api_key+'&part=snippet,contentDetails,statistics,status'
response_info=requests.get(url).json()
comments=[]
for comment_count in response_info['items']:
 comments.append(comment_count['statistics'])
for val in comments:
  total = int(val['commentCount'])
print(total)
if(total>=195000):
  print("Cannot retrive more than 195,000 comments")

2553

## ***(Additional)*** For viewing the number of dislikes in the video

In [111]:
url_api = "https://returnyoutubedislikeapi.com/votes?videoId="+video_id
response_API=requests.get(url_api)
data = response_API.text
parse_json = json.loads(data)
number_dislikes = parse_json['dislikes']
print(number_dislikes)

2642

## Storing all the comments in a list

In [112]:
def getAllTopLevelCommentReplies(topCommentId, replies, token): 
    replies_response=youtube.comments().list(part='snippet',
                                               maxResults=100,
                                               parentId=topCommentId,
                                               pageToken=token).execute()

    for item in replies_response['items']:
        replies.append(item['snippet']['textDisplay'])
    if "nextPageToken" in replies_response: 
      return getAllTopLevelCommentReplies(topCommentId, replies, replies_response['nextPageToken'])
    else:
      return replies
      
def get_comments(youtube, video_id, comments=[], token=''):
  totalReplyCount = 0
  replies=[]

  video_response=youtube.commentThreads().list(part='snippet',
                                               videoId=video_id,
                                               pageToken=token).execute()
  for item in video_response['items']:
            comment = item['snippet']['topLevelComment']
            text = comment['snippet']['textDisplay']
            totalReplyCount = item['snippet']['totalReplyCount']
            if (totalReplyCount > 0): 
               comments.extend(getAllTopLevelCommentReplies(comment['id'], replies, None)) 
            else: 
               comments.append(text)
            replies = []

  if "nextPageToken" in video_response: 
        return get_comments(youtube, video_id, comments, video_response['nextPageToken'])
  else:
        return comments

youtube = build('youtube', 'v3',developerKey=api_key)
comments = get_comments(youtube,video_id)
print(len(comments))

WARNING:googleapiclient.discovery_cache:file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 33, in <module>
    from oauth2client.contrib.locked_file import LockedFile
ModuleNotFoundError: No module named 'oauth2client.contrib.locked_file'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 37, in <module>
    from oauth2client.locked_file import LockedFile
ModuleNotFoundError: No module named 'oauth2client.locked_file'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/__init__.py", line 44, in autodetect
    from . import file_cache
  File "/usr/local/lib/python3.7/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 41, in <module>
    "file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth"
ImportError: file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth

2443

## Converting the list to dataframe

In [113]:
df_from_yt = pd.DataFrame(comments,columns=['Comments'])
print(df_from_yt)

                                               Comments
0                                               Gian OP
1     where&#39;s the video of girl dancing at <a hr...
2     Hansde chehre da matlb 😂😂😂😂<br>I choked on my ...
3                                      DARSHIT SAVAGE 🔥
4     vro lekin paper  toh 35 aur 40 ke hi hn..........
...                                                 ...
2438                                               Same
2439                                             Agreed
2440  I Respect Everyone who were involved in this ,...
2441                                             Second
2442                               I&#39;ll support you

[2443 rows x 1 columns]

# Data Cleaning

## Removing all the emoji's from the dataframe

In [114]:
df_from_yt = df_from_yt.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df_from_yt

                                               Comments
0                                               Gian OP
1     where&#39;s the video of girl dancing at <a hr...
2     Hansde chehre da matlb <br>I choked on my food...
3                                       DARSHIT SAVAGE
4     vro lekin paper  toh 35 aur 40 ke hi hn..........
...                                                 ...
2438                                               Same
2439                                             Agreed
2440  I Respect Everyone who were involved in this ,...
2441                                             Second
2442                               I&#39;ll support you

[2443 rows x 1 columns]

## Removing all the url's from the data frame

In [115]:
df_from_yt['Comments'] = df_from_yt['Comments'].apply(lambda x: re.split('<a href="https:\/\/.*', str(x))[0])
df_from_yt

                                               Comments
0                                               Gian OP
1             where&#39;s the video of girl dancing at
2     Hansde chehre da matlb <br>I choked on my food...
3                                       DARSHIT SAVAGE
4     vro lekin paper  toh 35 aur 40 ke hi hn..........
...                                                 ...
2438                                               Same
2439                                             Agreed
2440  I Respect Everyone who were involved in this ,...
2441                                             Second
2442                               I&#39;ll support you

[2443 rows x 1 columns]

## Removing all special characters

In [116]:
def process_content(content):
    return " ".join(re.findall("[A-Za-z]+",content))

df_from_yt['Comments'] = df_from_yt['Comments'].apply(process_content)
df_from_yt

                                               Comments
0                                               Gian OP
1                  where s the video of girl dancing at
2     Hansde chehre da matlb br I choked on my food ...
3                                        DARSHIT SAVAGE
4                      vro lekin paper toh aur ke hi hn
...                                                 ...
2438                                               Same
2439                                             Agreed
2440  I Respect Everyone who were involved in this S...
2441                                             Second
2442                                   I ll support you

[2443 rows x 1 columns]

## Converting to lower case

In [117]:
df_from_yt['Comments'] = df_from_yt['Comments'].str.lower()
df_from_yt

                                               Comments
0                                               gian op
1                  where s the video of girl dancing at
2     hansde chehre da matlb br i choked on my food ...
3                                        darshit savage
4                      vro lekin paper toh aur ke hi hn
...                                                 ...
2438                                               same
2439                                             agreed
2440  i respect everyone who were involved in this s...
2441                                             second
2442                                   i ll support you

[2443 rows x 1 columns]

## Removing empty rows

In [118]:
df_from_yt['Comments'].replace('', np.nan, inplace=True)
df_from_yt.dropna()

                                               Comments
0                                               gian op
1                  where s the video of girl dancing at
2     hansde chehre da matlb br i choked on my food ...
3                                        darshit savage
4                      vro lekin paper toh aur ke hi hn
...                                                 ...
2438                                               same
2439                                             agreed
2440  i respect everyone who were involved in this s...
2441                                             second
2442                                   i ll support you

[2209 rows x 1 columns]

# Training model for spam detection

## Importing dataset's and storing into a dataframe

In [119]:
train_data=[]
data_files = ['/content/drive/MyDrive/Youtube-Sentiment-Analysis/Youtube01-Psy.csv',
              '/content/drive/MyDrive/Youtube-Sentiment-Analysis/Youtube02-KatyPerry.csv',
              '/content/drive/MyDrive/Youtube-Sentiment-Analysis/Youtube03-LMFAO.csv',
              '/content/drive/MyDrive/Youtube-Sentiment-Analysis/Youtube04-Eminem.csv',
              '/content/drive/MyDrive/Youtube-Sentiment-Analysis/Youtube05-Shakira.csv']
for file in data_files:
    data = pd.read_csv(file)
    train_data.append(data)
train_data = pd.concat(train_data)

In [120]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1956 entries, 0 to 369
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COMMENT_ID  1956 non-null   object
 1   AUTHOR      1956 non-null   object
 2   DATE        1711 non-null   object
 3   CONTENT     1956 non-null   object
 4   CLASS       1956 non-null   int64
dtypes: int64(1), object(4)
memory usage: 91.7+ KB

# Data Cleaning

## Dropping the columns that isn't required

In [121]:
def drop_fectures(features,data):
    data.drop(features,axis=1,inplace=True)

drop_fectures(['COMMENT_ID','AUTHOR','DATE'],train_data)

## Removing all special characters

In [122]:
def process_content(content):
    return " ".join(re.findall("[A-Za-z]+",content.lower()))
  
train_data['CONTENT'] = train_data['CONTENT'].apply(process_content)
train_data

                                               CONTENT  CLASS
0    huh anyway check out this you tube channel kob...      1
1    hey guys check out my new channel and our firs...      1
2               just for test i have to say murdev com      1
3           me shaking my sexy ass on my channel enjoy      1
4                   watch v vtarggvgtwq check this out      1
..                                                 ...    ...
365  i love this song because we sing it at camp al...      0
366  i love this song for two reasons it is about a...      0
367                                                wow      0
368                            shakira u are so wiredo      0
369                         shakira is the best dancer      0

[1956 rows x 2 columns]

# Splitting data into *train* and *test* sets

In [123]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
                                    train_data['CONTENT'],
                                   train_data['CLASS'],
                                   test_size=0.2,
                                   random_state=57)

## Using [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) for converting  text to numerical data.

In [124]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer(stop_words='english')
x_train_counts = count_vect.fit_transform(x_train)
x_train_counts.shape

(1564, 3345)

# Model Selection

### Blank list for **Comparison**

In [125]:
Accuracy = []
Algorithm = []
from sklearn.metrics import accuracy_score

## Linear Regression

In [126]:
from sklearn.feature_extraction.text import TfidfTransformer
tranformer = TfidfTransformer()
x_train_tfidf = tranformer.fit_transform(x_train_counts)
x_train_tfidf.shape
x_test_counts = count_vect.transform(x_test)
x_test_tfidf = tranformer.transform(x_test_counts)

In [127]:
from sklearn.linear_model import LinearRegression
Algorithm.append('LinearRegression (ML)')
regressor = LinearRegression()
regressor.fit(x_train_tfidf, y_train)
predicted = regressor.predict(x_test_tfidf)

### Calculating Accuracy

In [128]:
a = accuracy_score(y_test,predicted.round())*100
Accuracy.append("%.2f" % a)

## XGBoost or Extreme Gradient Boost Regression

In [129]:
import xgboost as xgb
Algorithm.append('XGB Regressor (ML)')
regressor = xgb.XGBRegressor()
regressor.fit(x_train_tfidf, y_train)
predicted = regressor.predict(x_test_tfidf)

[08:49:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

### Accuracy

In [130]:
a = accuracy_score(y_test,predicted.round())*100
Accuracy.append("%.2f" % a)

##  Random Forest Regression

In [131]:
from sklearn.ensemble import RandomForestRegressor
Algorithm.append('RandomForestRegressor (ML)')
regressor = RandomForestRegressor() 
regressor.fit(x_train_tfidf, y_train)
predicted = regressor.predict(x_test_tfidf)

### Accuracy

In [132]:
a = accuracy_score(y_test,predicted.round())*100
Accuracy.append("%.2f" % a)

## Keras **(Deep Learning)**

In [133]:
# import keras
# from keras.models import Sequential
# from keras.layers import Dense
# import tensorflow as tf

# Algorithm.append('Keras (DL)')
# model = Sequential()

# model.add(Dense(2, kernel_initializer = "uniform",activation = "relu", input_dim=18))
# model.add(Dense(1, kernel_initializer = "uniform",activation = "sigmoid"))
# model.compile(optimizer='adam',
#               loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), 
#               metrics=['accuracy'])
# model.fit(x_train, y_train, batch_size = 10, epochs = 1)
# predicted = model.predict(x_test_tfidf)

### Accuracy

In [134]:
# a = accuracy_score(y_test,predicted.round())*100
# Accuracy.append("%.2f" % a)

## Creating a comparison dataframe

In [135]:
comparison = pd.DataFrame(list(zip(Algorithm, Accuracy)), columns = ['Algorithm', 'Accuracy'])
comparison

                    Algorithm Accuracy
0       LinearRegression (ML)    86.99
1          XGB Regressor (ML)    90.82
2  RandomForestRegressor (ML)    94.13